.suggested-products-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 30px;
  margin-bottom: 35px;
  font-weight: 600;
}

#product-container {
  display: flex;
  flex-wrap: wrap;
}

.product-container {
  background-color: #f9f9f9;
  margin: 12px;
  margin-bottom: 15px;
  padding: 20px;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s ease;
  border: 1px solid #ddd;
  flex: 1 0 30%;
  margin: 14px;
}

.product-container:hover {
  background-color: #ffffff;
  transform: scale(1.05);
  box-shadow: rgba(99, 99, 99, 0.3) 0px 4px 16px 0px;
}

.product-title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  min-height: 40px;
  font-weight: 500;
  text-align: center;
}

.product-price {
  font-size: 16px;
  font-weight: 500;
  opacity: 80%;
  text-align: center;
}

.product-image-div {
  padding: 30px;
  min-height: 272px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image-div img {
  width: auto;
  max-width: 100%;
  height: auto;
}

.small-image-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

.small-images {
  margin-bottom: 20px;
  border: solid 1px #000;
  width: fit-content;
}

.small-images:hover {
  transition: 0.6s ease;
  transform: scale(1.2);
  border: solid 1px #e4e4e4;
}

.product-buttons {
  display: flex;
}

.add-to-cart-button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  background: linear-gradient(
    90deg,
    rgba(58, 73, 180, 1) 0%,
    rgba(119, 29, 253, 1) 50%,
    rgba(213, 69, 252, 1) 100%
  );
  color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

.view-more-button {
  margin-left: auto;
  margin-right: auto;
  background: rgb(194, 17, 242);
  background: linear-gradient(
    90deg,
    rgba(194, 17, 242, 1) 0%,
    rgba(119, 29, 253, 1) 50%,
    rgba(17, 37, 242, 1) 100%
  );
  color: #fff;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

.add-to-cart-button:hover {
  background: rgb(194, 17, 242);
  background: linear-gradient(
    90deg,
    rgba(194, 17, 242, 1) 0%,
    rgba(119, 29, 253, 1) 50%,
    rgba(17, 37, 242, 1) 100%
  );
}

.view-more-button:hover {
  background: linear-gradient(
    90deg,
    rgba(58, 73, 180, 1) 0%,
    rgba(119, 29, 253, 1) 50%,
    rgba(213, 69, 252, 1) 100%
  );
}

#product-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  width: 90%;
  height: 580px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 500px;
}

.modal-container::before {
  content: "";
  background-image: conic-gradient(
    #ff00bb 0deg,
    #ff00bb 90deg,
    transparent 130deg,
    transparent 180deg,
    #4530ff 180deg,
    #4530ff 270deg,
    transparent 310deg,
    transparent 360deg
  );
  width: 150%;
  height: 150%;
  position: absolute;
  animation: rotate 3s linear infinite;
}

.modal-container::after {
  position: absolute;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#modal-product-details {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 99%;
  height: 99%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close {
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #000;
  background-color: transparent;
  border: none;
}

.close:hover {
  color: red;
}

button {
  padding: 10px;
}

button:hover {
  background-color: unset;
}

button:focus {
  background-color: unset;
  outline: unset !important;
}

@media only screen and (max-width: 768px) {
  .add-to-cart-button {
    height: 40px;
    width: 82px;
    font-size: 12px;
  }

  .product-title {
    font-size: 24px;
    font-weight: 500;
    word-break: break-all;
    min-height: 70px;
  }

  .product-image-div {
    padding: 10px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
